 <div id="wrapper">
 	<div ng-include="'app-views/header.views.html'"></div>
 	<div ng-include="'app-views/leftside.views.html'"></div>
 	<div id="page-wrapper">
		<div id="page-inner">
		    <div class="row">
		        <div class="col-md-12">
		         	<h2>Vendor List</h2>   
		            <!--<h5>Welcome Jhon Deo , Love to see you back. </h5>-->
		        </div>
		     	 <div class="col-md-12">
		     	 	<form role="form">
		     	 		<div class="form-group">
		     	 			<div class="radio">
                                <label>
                                    <input type="radio" ng-checked="true" ng-model="ctUserType" value="all" id="optionsRadios1" ng-click="ctGetUserBasedApprovedType()" name="userApprovedOption">All Users
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="ctUserType" value="approved" id="optionsRadios1" 
                                    				ng-click="ctGetUserBasedApprovedType()" name="userApprovedOption">Approved Users
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" ng-model="ctUserType" value="nonapproved" id="optionsRadios1" ng-click="ctGetUserBasedApprovedType()" name="userApprovedOption">Non Approved Users
                                </label>
                            </div>
                      	</div>
                      	<input type="hidden"  ng-value="{{currentDefaultUserType}}">            
                  	</form>
		     	 	<div class="panel panel-default">
		     	 		<div class="panel-heading navbar">
                            Vendor Lists
                            <div class="col-sm-4 col-md-4 pull-right">
					            <form class="navbar-form" role="search">
					                <div class="input-group">
					                    <input type="text" ng-model="ctVendorSearchTxt"  class="form-control" placeholder="Search" name="q">
					                    <div class="input-group-btn">
					                        <button class="btn btn-default" ng-click="ctVendorListSearch()" type="button"><i class="glyphicon glyphicon-search"></i></button>
					                    </div>
					                </div>
					    	    </form>
					    	    <input type="hidden"  ng-value="{{vendorSearchKey}}">
					        </div>        
                        </div>
                        </br>
                        <div class="panel-body">
                        	<div class="table-responsive">
                        		<table class="table table-bordered table-striped table-bordered table-hover">
                        		<img ng-if="loader" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="  />
                        			<thead>
                        				<tr>
											<th>S.No</th>
											<th>First Name</th>
											<th>Last Name</th>
											<th>Email</th>
											<th>Approved</th>
											<th>Approved Operation</th>
										</tr>	
									</thead>
									<tr>
										<td ng-if="ctAdmin.names.length == 0">
											<span style="color: red; font-family: verdana;">
												No data found
											</span>
										</td>
									</tr>
									 <tr ng-repeat="x in ctAdmin.names">
									    <td ng-if="$odd" class="success">{{ $index + 1 }}</td>
									    <td ng-if="$even" class="danger">{{ $index + 1 }}</td>
									    <td ng-if="$odd" class="success">{{ x.firstname }}</td>
									    <td ng-if="$even" class="danger">{{ x.firstname }}</td>
									    <td ng-if="$odd" class="success">{{ x.lastname }}</td>
									    <td ng-if="$even" class="danger">{{ x.lastname }}</td>
									    <td ng-if="$odd" class="success">{{ x.email }}</td>
									    <td ng-if="$even" class="danger">{{ x.email }}</td>
									    <td ng-if="$odd" class="success">{{ x.isapproved }}</td>
									    <td ng-if="$even" class="danger">{{ x.isapproved }}</td>
									    <td ng-if="$even" class="danger">
									    	 <select ng-model="selectedStatus" ng-change="ctUpdateApprovedStatus(selectedStatus)">
												<option value="">-- Select --</option>	
											    <option value="{{x.email}} && yes">Yes</option>
											    <option value="{{x.email}} && no">no</option>
											</select>
									    </td>
									    <td ng-if="$odd" class="success">
									    	<select ng-model="selectedStatus" ng-change="ctUpdateApprovedStatus(selectedStatus)">
												<option value="">-- Select --</option>	
											    <option value="{{x.email}} && yes">Yes</option>
											    <option value="{{x.email}} && no">No</option>
											</select>
									    </td>
									  </tr>
                        		</table>
                        	</div>
                        </div>
		     	 	</div>
		     	 </div>
		     	 <input type="hidden" ng-model="total" />
		     	 <input type="hidden" ng-model="currentPage" />
		     	 <div ng-if="ctAdmin.vendorNumEntries" class="col-md-12 ctVendorListPagination">
					<paging
						class="small"
						page="currentPage" 
						page-size="5" 
						total="total"
						show-prev-next="true"
    					show-first-last="true"
						paging-action="DoCtrlPagingAct('Paging Clicked', page, pageSize, total)">
					</paging>  
		     	 </div>
		    </div>
		     <!-- /. ROW  -->
		     <hr />
		</div>
		 <!-- /. PAGE INNER  -->
	</div>
	<!-- /. PAGE WRAPPER  -->
 </div>